.sidenav
{
	height: 100%;
	width: 190px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	overflow-x: hidden;
	padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 35px;
  color: grey;
  display: block;
}

.sidenav a:hover {
  color: white;
}
.imag
{
	height: 80%;
	width: 80%;
	margin-left: 10%;
}
.prj
{
	margin-left: 200px;
	text-align: center;
}
.prj h1
{
	text-align: center;
}
.prj img
{
	height: 25vw;
	width: 50vw;
	border:2px solid black;
	padding: 5px;
}
.info
{
	margin-left: 200px;
	text-align: center;
}
.info img
{
	width: 5%;
	height: 5%
}
.info a
{
	text-decoration: none;
}
