.sidenav
{
	height: 100%;
	width: 190px;
	background-color: black;
	overflow-x: hidden;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 20px;
}
.sidenav a
{
	padding: 6px 8px 6px 16px;
	font-size: 35px;
	color: grey;
	text-decoration: none;
	display: block;
}
.sidenav a:hover
{
	color: white;
}
.imag
{
	height: 80%;
	width: 80%;
	margin-left: 10%;
}
.home h1
{
	margin-left: 165px;
	margin-bottom: 0;
	text-align: center;
	font-size: 50px;
}
.home p
{
	margin-left: 165px;
	margin-top: 0;
	padding-bottom: 5px;
	text-align: center;
}
.home img
{
	
	width: 3%;
	height: 3%;
	margin-right:10px; 

}
.form
{
	margin-left: 165px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.info
{
	margin-left: 165px;
	text-align: center;
}
.info img
{
	width: 5%;
	height: 5%
}
.info a
{
	text-decoration: none;
}
